$weuiBtnFontSize =18px
$weuiBtnFontColor =#ffffff
$weuiBtnHeight =46px 
$weuiBtnPrimaryRadis =5px 
$weuiBtnPrimaryBg =#1aad19
$weuiBtnActiveFontColor =rgba(255,255,255,.6)
$weuiBtnPimaryActiveBg =#179816
$weuiBtnBorderRadius =5px 